.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
  }
  
  .subtotal__gift {
    display: flex;
    align-items: center;
  }
  
  .subtotal__gift > input {
    margin-right: 5px;
  }
  
  .subtotal > button {
    background: #DA491B;
    color: white;
    padding: 0.5rem 0.5rem;
    border-radius: 0.2rem;
    margin-top: 10px;
    cursor: pointer;
    transition-duration: 0.3s;
    border: 0px;
    font-weight: bold;
  }


    
  .subtotal > button:hover {
      transform: scale(1.05, 1.1);
  }
  
  .subtotal > button:active {
      transform: scale(1.05, 1.1);
  }
  