.topbar{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #ECECEC;
    position : sticky;
    z-index: 2;
    top: 0; 

}

.logo{
    width: 100;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18;
}

.topbarsearchicon{
    padding: 5px;
    height: 22px;
    background-color: #DA491B;
    border-radius: 2px;

}

.header__optionLineOne {
    font-size: 10px;
}
  
.header__optionLineTwo {
font-size: 13px;
font-weight: 800;
}

.topSearch{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.topSearchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}
.navoptions{
    display: flex;
    justify-content: space-evenly;
}

.navoptions a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}

.baroption {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: #647da0;
    z-index: 3;
}


.cart{
    display: flex;
    align-items: center;
}

.cartcount{
    margin-left: 10px;
    margin-right: 10px;
    color:#647da0;
}

.cart .carticon {
    color:#647da0;
}

/* .navoptions .cart {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
} */